*{margin:0; padding:0; font-family: "Almarai";}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

:root {
    --purple: #8A00DE;
    --dark-purple: #553870;
    --yellow: #F1A641;
    --black: #1E1E1E
} 

// Elements
a{text-decoration:none; color: #000;};
ul{list-style: none};
.container{margin: 0 140px};
.btn {
    background-color: var(--purple);
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    width: 7em;
    padding: 6px 0;
    border-radius: 7px;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}
.center-title {
    width: fit-content;
    position: relative;
    left: -50%;
    transform: translateX(50%);

    h2 {
        font-size: 28px;
    }

    .title-line {
        width: 50%;
        height: 4px;
        background-color: var(--yellow);
        position: absolute;
        left: 50%;
        transform: translate(-50%, 3px);
    }

    p {
        margin-top: 20px;
        text-align: center;
        font-size: 18px;    
    }
}
.noti {

    .success , .error {
        align-items: center;
        gap: 1em;
        width: fit-content;
        padding: 3px 12px;
        border-radius: 5px;
        box-shadow: 2px 2px 6px 0px #b7b7b7;
        position: fixed;
        top: 12em;
        left: 2em;
        color: #fff;

        img {
            width: 2.5em;
        }

        h3 {

        }
    }
    .success {
        background-color: #239326a1;
    }
    .error {
        background-color: #932323a1;
    }
}


// Classes
.disNone{display:none};
.disBlock{display:block};
.disFlex{display:flex};

// Any where I want to add some posters
.posters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
    margin: 2.5em 0 5em;

    .poster {
        text-align: center;
        img {
            width: 230px;
            box-shadow: 2px 2px 6px 0 black;
        }

        h3 {
            margin-top: 9px;
            font-size: 21px;
            color: #000;
        }
    }
}

// Footer and Header
header {
    padding: 15px 50px;

    .logo-shipping {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;

        .shipping {
            display: flex;
            align-items: center;
            gap: 1em;

            .ship-icon {
                width: 40px;
            }

            p {
                
            }   
        }

        .logo {
            .logo-img {
                width: 65px
            }
        }
    }

    .links-user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .links {
            display: flex;
            align-items: center;
            gap: 1.8em;

            a {
                color: #000;

                &:first-child {
                    font-size: 14px;
                    font-weight: 400;
                    color: #fff;
                    padding: 8px 0;
                }

                li {
                    text-align: center;
                }
            }

        }

        .user {
            display: flex;
            align-items: center;
            gap: 1em;

            img {
                width: 30px
            }
        }
    }
}
.small-header {
    text-align: center;
    .logo {
        img {
            width: 5em
        }
    }

    .links-user {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }
}

footer {
    background-color: var(--black);
    margin-top: 25px;
    
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 50px;

        .socials {
            display: flex;
            align-items: center;
            gap: 0.7em;

            img {
                width: 25px;
            }
        }

        .links {
            
            ul {
                display: flex;
                align-items: center;
                gap: 1.3em;

                a {
                    color: #FFF;
                }
            }
        }

        .logo {

            img {
                width: 70px
            }
        }
    }

    .copyright {
        padding: 6px 50px;
        background-color: var(--dark-purple);

        p {
            color: #FFF;
            text-align: center;
            font-weight: 600;
        }
    }
}

// Footer Responsive
@media (max-width: 600px) {
    footer .footer-content {
        padding: 14px 30px;
        flex-direction: column-reverse;
    }

    footer .footer-content .links ul {
        justify-content: center;
        flex-direction: column;
        margin: 30px 0 40px;
    }
}
//Header Responsive
// @media (max-width: ) {

// }