@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Almarai";
}

:root {
  --purple: #8A00DE;
  --dark-purple: #553870;
  --yellow: #F1A641;
  --black: #1E1E1E ;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.container {
  margin: 0 140px;
}

.btn {
  background-color: var(--purple);
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  width: 7em;
  padding: 6px 0;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.center-title {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: -50%;
  transform: translateX(50%);
}
.center-title h2 {
  font-size: 28px;
}
.center-title .title-line {
  width: 50%;
  height: 4px;
  background-color: var(--yellow);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 3px);
}
.center-title p {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.noti .success, .noti .error {
  align-items: center;
  gap: 1em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 12px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px #b7b7b7;
  position: fixed;
  top: 12em;
  left: 2em;
  color: #fff;
}
.noti .success img, .noti .error img {
  width: 2.5em;
}
.noti .success {
  background-color: rgba(35, 147, 38, 0.631372549);
}
.noti .error {
  background-color: rgba(147, 35, 35, 0.631372549);
}

.disNone {
  display: none;
}

.disBlock {
  display: block;
}

.disFlex {
  display: flex;
}

.posters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4em;
  margin: 2.5em 0 5em;
}
.posters .poster {
  text-align: center;
}
.posters .poster img {
  width: 230px;
  box-shadow: 2px 2px 6px 0 black;
}
.posters .poster h3 {
  margin-top: 9px;
  font-size: 21px;
  color: #000;
}

header {
  padding: 15px 50px;
}
header .logo-shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
header .logo-shipping .shipping {
  display: flex;
  align-items: center;
  gap: 1em;
}
header .logo-shipping .shipping .ship-icon {
  width: 40px;
}
header .logo-shipping .logo .logo-img {
  width: 65px;
}
header .links-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .links-user .links {
  display: flex;
  align-items: center;
  gap: 1.8em;
}
header .links-user .links a {
  color: #000;
}
header .links-user .links a:first-child {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 8px 0;
}
header .links-user .links a li {
  text-align: center;
}
header .links-user .user {
  display: flex;
  align-items: center;
  gap: 1em;
}
header .links-user .user img {
  width: 31px;
}

.small-header {
  text-align: center;
}
.small-header .logo img {
  width: 5em;
}
.small-header .links-user {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

footer {
  background-color: var(--black);
  margin-top: 25px;
}
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 50px;
}
footer .footer-content .socials {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
footer .footer-content .socials img {
  width: 25px;
}
footer .footer-content .links ul {
  display: flex;
  align-items: center;
  gap: 1.3em;
}
footer .footer-content .links ul a {
  color: #FFF;
}
footer .footer-content .logo img {
  width: 70px;
}
footer .copyright {
  padding: 6px 50px;
  background-color: var(--dark-purple);
}
footer .copyright p {
  color: #FFF;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 600px) {
  footer .footer-content {
    padding: 14px 30px;
    flex-direction: column-reverse;
  }
  footer .footer-content .links ul {
    justify-content: center;
    flex-direction: column;
    margin: 30px 0 40px;
  }
}/*# sourceMappingURL=global-rules.css.map */