
.home {

    .intro {
        position: relative;
        background: linear-gradient(45deg, black, var(--black), var(--black));
        height: 34em;
        padding: 0 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::after  {
            content: '';
            width: 30%;
            height: 100%;
            background: linear-gradient(60deg, var(--dark-purple), var(--dark-purple) ,var(--purple));
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .text {
            color: #FFF;
            .website-name {

            }

            h1 {
                font-size: 60px;
                line-height: 1.3em;
            }

            .btn-socials {
                display: flex;
                align-items: center;
                gap: 0.8em;
                margin-top: 25px;

                a {

                    button {
                        width: 8em;
                        font-size: 17px;
                    }

                    img {
                        width: 23px
                    }
                }
            }
        }

        .images {
            z-index: 1;
            margin-left: 20px;

            img {
                width: 250px;
                position: relative;
                
                &:first-child {
                    transform: rotate(5deg) translate(-22px, 15px);
                }

                &:nth-child(2) {
                    margin: 0px -60px;
                    z-index: 3;
                    transform: translateY(-20px);
                    width: 260px
                }

                &:last-child {
                    transform: rotate(-5deg) translate(22px, 15px);
                }
            }
        }
    }

    .top-sales, .some-sections-posters {
        padding: 70px 0;

        .posters {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4em;
            margin-top: 3em;

            .poster {
                text-align: center;
                img {
                    width: 230px;
                    box-shadow: 4px 4px 7px 0 black
                }

                h3 {
                    margin-top: 9px;
                    font-size: 21px;
                }
            }
        }

        .sec {
            margin-bottom: 7em;
        }
    }

    .some-sections {
        padding: 120px 0;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .title {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                h2 {
                    max-width: 300px;
                    font-size: 34px;
                    line-height: 1.3em;
                }

                p {
                    max-width: 340px;
                    font-size: 21px;
                    line-height: 1.3em;
                }
            }

            .sections {
                margin-top: 3em;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 2em 2.5em;
                width: 70%;

                a {
                    color: #FFF;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 10px;

                    &:first-child {
                        background-image: url('../../Images/sport.jpg');
                        border: 3px solid var(--yellow)
                    }
                    &:nth-child(2) {
                        background-image: url('../../Images/cars.jpg');
                        border: 3px solid var(--purple)
                    }
                    &:nth-child(3) {
                        background-image: url('../../Images/animes.jpg');
                        border: 3px solid var(--purple)
                    }
                    &:last-child {
                        background-image: url('../../Images/games.jpeg');
                        border: 3px solid var(--yellow)
                    }

                    .section {
                        width: 24em;
                        height: 15em;
                        position: relative;
    
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: #00000095;
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                        }
                        
                        h4 {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 50px;
                        }
                    }
                }

                
            }

            .btn {
                margin-top: 2em;
                width: 8em;
                
                a {
                    color: #FFF
                }
            }
        }
    }

    .posters-types {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            
            h2 {
                font-size: 35px;
                max-width: 400px;
                text-align: center;

                b {
                    color: var(--purple);
                }
            }
        }

        .types {
            margin-top: 4em;

            .type {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5em;
                margin-bottom: 5em;

                .images {
                    display: flex;
                    align-items: center;

                    img {
                        width: 220px;
                        position: relative;

                        &:first-child {
                            z-index: 1;
                        }
                        &:nth-child(2) {
                            z-index: 3;
                            margin: 0 -80px;
                        }
                        &:last-child {
                            z-index: 1;
                        }
                    }

                    .empty-poster {
                        position: relative;
                        background-color: var(--black);
                        width: 12em;
                        height: 19em;
                        margin: 0 -80px;
                        z-index: 3;

                        h4 {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: #FFF;
                            text-align: center;
                            width: 5em;
                            font-size: 30px;
                            line-height: 1.2em;
                        }
                    }
                }
    
                .text {
    
                    h3 {
                        font-size: 2em;

                        b {
                            font-size: 1.8em;
                        }
                    }
    
                    p {
                        font-size: 18px;
                        max-width: 450px;
                        margin-bottom: 12px;
                        line-height: 1.4;
                    }

                    h5 {
                        font-size: 16px;
                        margin-bottom: 15px;

                        span {
                            color: var(--purple)
                        }
                    }

                    .btn {
                        width: 9em;
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .home .intro .text h1 {
        font-size: 50px;
    }

}

@media (max-width: 1350px) {
    .home .intro {
        padding: 0 60px;
    }
    .home .intro .text h1 {
        font-size: 45px;
    }
    .home .intro .images img {
        width: 210px;
        }
    .home .intro .images img:nth-child(2) {
        width: 220px;
    }
}

@media (max-width: 1200px) {
    .home .posters-types .types .type {
        flex-direction: column;
        gap: 1em
    }
    .home .posters-types .types .type:nth-child(2) {
        flex-direction: column-reverse;
    }

    .home .posters-types .types .type .text {
        text-align: center;
    }
    .home .posters-types .types .type .text h5 {
        font-size: 20px;
    }
}

@media (max-width: 1100px) {
    .home .intro {
        padding: 0 45px;
    }
    .home .intro .text h1 {
        font-size: 40px;
    }
    .home .intro .images img {
        width: 200px;
        }
    .home .intro .images img:nth-child(2) {
        width: 210px;
    }
}

@media (max-width: 1000px) {
    .home .intro {
        padding: 0 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 53em;
    }
    .home .intro::after {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 45%;
    }
    .home .intro .text {
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home .intro .text p {
        font-size: 18px
    }
    .home .intro .text h1 {
        font-size: 50px;
    }
    .home .intro .images {
        margin-left: 0px;
        margin-top: 5em;
    }
    .home .intro .images img {
        width: 210px;
        }
    .home .intro .images img:nth-child(2) {
        width: 220px;
    }


    .home .some-sections .container .title {
        flex-direction: column;
        text-align: center;
        gap: 1.5em;
    }
} 

@media (max-width: 600px) {
    .home .intro .text p {
        font-size: 18px
    }
    .home .intro .text h1 {
        font-size: 40px;
    }
    .home .intro .images {
        margin-left: 0px;
        margin-top: 5em;
    }
    .home .intro .images img {
        width: 160px;
        }
    .home .intro .images img:nth-child(2) {
        width: 170px;
    }

    .home .some-sections .container {
        margin: 0 60px
    }
    .home .some-sections .container .sections a .section {
        width: 21em;
        height: 14em;
    }
    .home .some-sections .container .sections a .section h4 {
        font-size: 45px;
    }

    .home .posters-types .types .type .images img {
        width: 150px;
    }
    .home .posters-types .types .type .text h3 {
        font-size: 1.8em;
    }
    .home .posters-types .types .type .text p {
        font-size: 17px
    }
    .home .posters-types .types .type .images .empty-poster {
        height: 18em;
        width: 11em;
    }
    
}