.admin-page {

    .container {
        padding: 3em 0;
        .posters-list {
            display: flex;
            flex-direction: column;
            align-items: center;

            select {
                margin-bottom: 1.5em;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                
                option {

                }
            }

            .list {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 1.8em;

                .poster {
                    position: relative;
                    img {
                        width: 13em;
                        border: 10px solid black;
                        box-shadow: 4px 4px 7px 0 black;
                    }

                    .details {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 1em;
                        padding-top: 10px;
                        color: #000;

                        .name {
                            p{
                                font-size: 18px
                            }
                        }

                        div {
                            display: flex;
                            align-items: center;
                            gap: 1em;
                        }
                    }

                    .deleteBtn {
                        color: #fff;
                        background-color: red;
                        width: 1.4em;
                        height: 1.4em;
                        font-size: 30px;
                        border-radius: 50%;
                        position: absolute;
                        top: 8px;
                        right: 8px;

                        &::before {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                }
            }
        }

        .add-poster {
            border: 3px solid black;
            margin-top: 3em;
            padding: 2em;

            h2 {
                margin-bottom: 15px;
                font-size: 25px;
            }

            .poster-info {
                display: flex;
                flex-direction: column;
                gap: 2em;

                .name-price-section {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 4em;

                    div {
                        display: flex;
                        flex-direction: column;

                        label {
                            margin-bottom: 7px
                        }

                        input {
                            background-color: #EFEFEF;
                            border: 1px solid black;
                            outline: none;
                            height: 2.5em;
                            width: 15em;
                            font-size: 14px;
                            padding-right: 7px;
                        }
                    }
                }

                .description {

                    div {
                        display: flex;
                        flex-direction: column;

                        label {
                            margin-bottom: 7px
                        }

                        input {
                            background-color: #EFEFEF;
                            border: 1px solid black;
                            outline: none;
                            font-size: 15px;
                            height: 9em;
                            width: 30em;
                        }
                    }
                }

                .image {

                    label {
                        
                    }

                    .dropArea {
                        position: relative;
                        display: block;
                        height: 20em;
                        width: 15em;
                        background-color: #EFEFEF;
                        border: 1px solid black;
                        outline: none;
                        margin-top: 10px;
    
                        input {
                            height: 100%;
                            position: absolute;
                            z-index: 5;
                        }
    
                        .imgView {
                            background-size: cover;
                            z-index: 1;
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            top: 0px;
                            left: 0;
    
                            i {
                                font-size: 50px;
                                color: #fff;
                                background-color: var(--purple);
                                padding: 15px;
                                border-radius: 50%;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                z-index: 1;
                            }
                        }
                    }
                }
                
                .btn {
                    width: 9em;
                    cursor: pointer;
                }
            }
        }
    }

    footer {
        margin-top: 5em
    }
}

@media (max-width: 950px) {
    .admin-page .container {
        margin: 0 80px
    }
}
@media (max-width: 700px) {
    .admin-page .container .add-poster .poster-info .description div input {
        width: 20em;
    }
    .admin-page .container .add-poster .poster-info {
        align-items: center;
    }
    .admin-page .container .add-poster .poster-info .name-price-section {
        justify-content: center;
    }
    .admin-page .container .add-poster h2 {
        margin-bottom: 25px;
        text-align: center;
    }
}
@media (max-width: 600px) {
    .admin-page .container {
        margin: 0 40px
    }
}