.productPage {
    padding: 4em 0;
    overflow: hidden;
    position: relative;

    .container {
        .product-info {
            display: flex;
            justify-content: center;
            gap: 2em;
            padding-bottom: 5em;
            border-bottom: 2px solid var(--black);

            .poster-image {
                
                p {
                    margin-bottom: 8px;
                }

                img {
                    width: 25em;
                    border: 15px solid black;
                }
            }

            .poster-info {
                height: fit-content;
                margin-top: 25px;

                .poster-name {
                    font-size: 30px;
                    font-weight: 900;
                }

                .price {
                    margin: 12px 0;
                    font-size: 17px;

                    b {
                        font-size: 20px;
                        font-weight: bold;
                        color: var(--purple)
                    }
                }

                .buy {
                    display: flex;
                    align-items: center;
                    gap: 0.7em;
                    margin-bottom: 40px;

                    i {
                        font-size: 25px;
                    }

                    .btn {

                    }
                }

                .description {
                    line-height: 1.7em;
                    font-size: 17px;
                }
            }
        }

    overflow: hidden;
    }
}

.more-posters {
    
    .posters {
        .poster{
            img {
                border: 4px solid black
            }
        }
    }
}

@media (max-width: 1200px) {

    .productPage .container {
        margin: 0 100px
    }
    .productPage .container .product-info .poster-image img {
        width: 20em;
    }
}

@media (max-width: 950px) {
    .productPage .container .product-info .poster-image img {
        width: 23em;
    }
    .productPage .container .product-info {
        flex-direction: column;
        align-items: center;
        gap: 0
    }
    .productPage .container .product-info .poster-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .productPage .container .product-info .poster-info .buy {
        margin-bottom: 25px;
    }
}