.profilePage .container {
  padding: 4em 0;
}
.profilePage .container .account-settings .pages-bar {
  display: flex;
  gap: 1em;
  border-bottom: 1px solid var(--black);
}
.profilePage .container .account-settings .pages-bar div {
  color: #fff;
  background-color: var(--purple);
  width: 5em;
  height: 2.3em;
  position: relative;
  border: 1px solid var(--black);
  border-bottom: 0;
}
.profilePage .container .account-settings .pages-bar div p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.profilePage .container .account-settings .account {
  padding: 2em 0;
}
.profilePage .container .account-settings .account .profile-details {
  display: flex;
}
.profilePage .container .account-settings .account .profile-details .image-profile {
  width: -moz-fit-content;
  width: fit-content;
}
.profilePage .container .account-settings .account .profile-details .image-profile img {
  width: 10em;
  border-radius: 50%;
}
.profilePage .container .account-settings .account .profile-details .profile-info .name {
  font-size: 21px;
}
.profilePage .container .account-settings .account .profile-details .profile-info .email {
  margin: 5px 0 7px;
}
.profilePage .container .account-settings .account .purchases, .profilePage .container .account-settings .account .favorite {
  padding: 3em 0;
}
.profilePage .container .account-settings .account .purchases .purchases-list, .profilePage .container .account-settings .account .purchases .favorite-list, .profilePage .container .account-settings .account .favorite .purchases-list, .profilePage .container .account-settings .account .favorite .favorite-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  margin: 1em 0;
  padding: 2em 0;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}
.profilePage .container .account-settings .account .purchases .purchases-list .poster, .profilePage .container .account-settings .account .purchases .favorite-list .poster, .profilePage .container .account-settings .account .favorite .purchases-list .poster, .profilePage .container .account-settings .account .favorite .favorite-list .poster {
  position: relative;
}
.profilePage .container .account-settings .account .purchases .purchases-list .poster img, .profilePage .container .account-settings .account .purchases .favorite-list .poster img, .profilePage .container .account-settings .account .favorite .purchases-list .poster img, .profilePage .container .account-settings .account .favorite .favorite-list .poster img {
  width: 13em;
  border: 4px solid black;
  box-shadow: rgb(0, 0, 0) 4px 4px 7px 0px;
}
.profilePage .container .account-settings .account .purchases .purchases-list .poster .deleteBtn, .profilePage .container .account-settings .account .purchases .favorite-list .poster .deleteBtn, .profilePage .container .account-settings .account .favorite .purchases-list .poster .deleteBtn, .profilePage .container .account-settings .account .favorite .favorite-list .poster .deleteBtn {
  color: #fff;
  background-color: red;
  width: 1.4em;
  height: 1.4em;
  font-size: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}
.profilePage .container .account-settings .account .purchases .purchases-list .poster .deleteBtn::before, .profilePage .container .account-settings .account .purchases .favorite-list .poster .deleteBtn::before, .profilePage .container .account-settings .account .favorite .purchases-list .poster .deleteBtn::before, .profilePage .container .account-settings .account .favorite .favorite-list .poster .deleteBtn::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.profilePage .loginCart {
  height: 70vh;
  position: relative;
}
.profilePage .loginCart .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.profilePage .loginCart .container h1 {
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}
.profilePage .loginCart .container .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.profilePage .loginCart .container .btns a button {
  font-size: 20px;
  width: 10em;
}/*# sourceMappingURL=profile-page.css.map */