.store-allSections .container {
  padding: 5em 0;
  display: flex;
  justify-content: center;
  gap: 8em;
}
.store-allSections .container .sections {
  margin-top: 100px;
  width: 15em;
}
.store-allSections .container .sections ul li {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  cursor: pointer;
}
.store-allSections .container .gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.store-allSections .container .gallery-container h2 {
  font-size: 35px;
  margin-bottom: 3px;
}
.store-allSections .container .gallery-container .title-para {
  margin-bottom: 25px;
  font-size: 17px;
  max-width: 480px;
  line-height: 1.4em;
}
.store-allSections .container .gallery-container .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.7em;
}
.store-allSections .container .gallery-container .gallery .poster-img {
  width: 17em;
  border: 5px solid black;
  box-shadow: 4px 4px 7px 0 black;
}
.store-allSections .container .gallery-container .gallery .special-image-poster {
  display: flex;
  flex-direction: row-reverse;
  gap: 2em;
  margin-top: 1em;
}
.store-allSections .container .gallery-container .gallery .special-image-poster .image h2 {
  font-size: 23px;
}
.store-allSections .container .gallery-container .gallery .special-image-poster .image form .dropArea {
  position: relative;
  display: block;
  height: 20em;
  width: 15em;
  background-color: #EFEFEF;
  border: 1px solid black;
  outline: none;
  margin-top: 10px;
}
.store-allSections .container .gallery-container .gallery .special-image-poster .image form .dropArea input {
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 5;
}
.store-allSections .container .gallery-container .gallery .special-image-poster .image form .dropArea .imgView {
  background-size: cover;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
}
.store-allSections .container .gallery-container .gallery .special-image-poster .image form .dropArea .imgView i {
  font-size: 50px;
  color: #fff;
  background-color: var(--purple);
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.store-allSections .container .gallery-container .gallery .special-image-poster .image button {
  margin-top: 13px;
  width: 8em;
}
.store-allSections .container .gallery-container .gallery .special-image-poster .text {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  width: 50%;
}
.store-allSections .container .gallery-container .gallery .special-image-poster .text h3 {
  margin-bottom: 10px;
}
.store-allSections .container .gallery-container .gallery .special-image-poster .text h4 {
  margin-bottom: 10px;
  font-size: 18px;
}
.store-allSections .container .gallery-container .gallery .special-image-poster .text p {
  margin-bottom: 25px;
  font-size: 18px;
  text-align: right;
  font-weight: 200;
  line-height: 1.4em;
}
.store-allSections .container .gallery-container .gallery .special-design-poster {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.store-allSections .container .gallery-container .gallery .special-design-poster .empty-poster {
  background-color: var(--black);
  width: 12em;
  height: 19em;
  position: relative;
}
.store-allSections .container .gallery-container .gallery .special-design-poster .empty-poster h4 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 35px;
}
.store-allSections .container .gallery-container .gallery .special-design-poster .socials img {
  background-color: var(--purple);
  width: 2em;
  padding: 10px;
  margin-right: 12px;
  border-radius: 12px;
}
.store-allSections .container .gallery-container .numbers {
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
  margin-top: 30px;
  font-size: 18px;
}
@media (max-width: 850px) {
  .store-allSections .container {
    padding: 0 0 5em;
    margin: 0 80px;
    flex-direction: column;
    align-items: center;
  }
  .store-allSections .container .sections {
    margin-top: 70px;
    width: 100%;
  }
  .store-allSections .container .sections ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2em;
  }
  .store-allSections .container .sections ul li {
    margin-bottom: 0;
    background-color: var(--purple);
    color: #fff;
    font-weight: 600;
    padding: 0 7px;
    border-radius: 4px;
  }
}/*# sourceMappingURL=store.css.map */